
.nav {
    grid-area: nav;
    background-color: aqua;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.nav__item {
  list-style: none;
}

.nav__link {
  color: black;
  text-decoration: none;
}

.nav__link.active {
  color: red;
}
