.content {
    display: flex;
    flex-direction: column;
    background-color: blue;
    grid-area: content;
    height: 100%;
}

.profile {

}

.profile__link {

}

.profile__img {

}

.profile__block {

}

.profile__title {

}

.profile__textarea {

}

.profile__button {

}

.data__content {

}
.data__person {

}
.data__data {

}
.data__name {

}

.comment {

}

.comment__item {

}

.circle {

}

.comment__text {

}
