.content {
    display: flex;
    flex-direction: column;
    background-color: blue;
    grid-area: content;
    height: 100%;
}

.profile {

}

.profile__link {

}

.data__content {

}

.data__person {

}

.data__data {

}

.data__name {

}

.data__list {

}

.data__item {

}

.data__item.active {
    background-color: aqua;
}

.data__title {

}

.data__subtitle {

}

.profile__block {

}

.profile__title {

}

.profile__textarea {

}

.profile__button {

}

.comment {

}

.comment__item {

}

.circle {

}

.comment__text {

}
